PyCity Schools Analysis:

In [71]:
#import dependencies
import pandas as pd
from pathlib import Path

In [72]:
#Set up path to our resource files

school_path = Path("Resources/schools_complete.csv")
student_path = Path("Resources/students_complete.csv")

original_school_df = pd.read_csv(school_path)
original_student_df = pd.read_csv(student_path)

In [73]:
#Merging the Dataframes 

school_student_merged_df = pd.merge(original_student_df,original_school_df,
                           how = "left", on = ["school_name","school_name"])
school_student_merged_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

District Summary

In [74]:
#Calculate the total number of unique schools

number_of_schools = school_student_merged_df["school_name"].nunique()
number_of_schools

15

In [75]:
#Calculate the total number of students

number_of_students = school_student_merged_df["student_name"].count()
number_of_students

39170

In [76]:
#Calculate the total budget

total_budget = school_student_merged_df["budget"].unique().sum()
total_budget

24649428

In [77]:
#Calculate the students average math score

average_math = school_student_merged_df["math_score"].mean()
average_math

78.98537145774827

In [78]:
#Calculate the students average reading score

average_reading = school_student_merged_df["reading_score"].mean()
average_reading

81.87784018381414

In [79]:
#Calculate the percentage of students who passed math

passed_math = school_student_merged_df.loc[school_student_merged_df["math_score"] >= 70,]

percentage_passed_math = (passed_math["math_score"].count()/number_of_students) * 100
percentage_passed_math

74.9808526933878

In [80]:
#Calculate the percentage of students who passed reading

passed_reading = school_student_merged_df.loc[school_student_merged_df["reading_score"] >= 70,]
percentage_passed_reading = (passed_reading["reading_score"].count()/number_of_students) * 100
percentage_passed_reading

85.80546336482001

In [81]:
#Calculate overall percentage of students who passed

overall_pass_count = school_student_merged_df.loc[(school_student_merged_df["math_score"] >= 70) & (school_student_merged_df["reading_score"] >= 70)]
overall_pass_percentage = (overall_pass_count["student_name"].count()/number_of_students) * 100
overall_pass_percentage

65.17232575950983

In [82]:
#Create a high-level snapshot of the district's key metrics in a DataFrame

district_summary = pd.DataFrame({"Number of Schools":[number_of_schools],"Total Students":[number_of_students],
                                "Total Budget":[total_budget],"Average Math Score":[average_math],
                               "Average Reading Score":[average_reading], "Math Pass Percentage":[percentage_passed_math],
                               "Reading Pass Percentage":[percentage_passed_reading],
                                 "Overall Pass Percentage":[overall_pass_percentage]})

district_summary["Total Students"] = district_summary["Total Students"].map("{:,}".format)
district_summary["Total Budget"] = district_summary["Total Budget"].map("${:,.2f}".format)

district_summary

,Number of Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,Math Pass Percentage,Reading Pass Percentage,Overall Pass Percentage
0,15,"39,170","$24,649,428.00",78.985371,81.87784,74.980853,85.805463,65.172326

School Summary

In [109]:
#Find the names of the schools in the DataFrame

school_name = school_student_merged_df["school_name"].unique()
print(school_name)

['Huang High School' 'Figueroa High School' 'Shelton High School'
 'Hernandez High School' 'Griffin High School' 'Wilson High School'
 'Cabrera High School' 'Bailey High School' 'Holden High School'
 'Pena High School' 'Wright High School' 'Rodriguez High School'
 'Johnson High School' 'Ford High School' 'Thomas High School']

In [84]:
#Select all of the school types and set the index to school name for better readbility

school_types = original_school_df.set_index(["school_name"])["type"]
school_types.head()

school_name
Huang High School        District
Figueroa High School     District
Shelton High School       Charter
Hernandez High School    District
Griffin High School       Charter
Name: type, dtype: object

In [85]:
#Calculate how many students are in each school

per_school_counts = school_student_merged_df["school_name"].value_counts()
per_school_counts

school_name
Bailey High School       4976
Johnson High School      4761
Hernandez High School    4635
Rodriguez High School    3999
Figueroa High School     2949
Huang High School        2917
Ford High School         2739
Wilson High School       2283
Cabrera High School      1858
Wright High School       1800
Shelton High School      1761
Thomas High School       1635
Griffin High School      1468
Pena High School          962
Holden High School        427
Name: count, dtype: int64

In [128]:
#Calculate the total school budget per school

per_school_budget = school_student_merged_df.groupby(["school_name"])["budget"].mean()
per_school_budget

school_name
Bailey High School       3124928.0
Cabrera High School      1081356.0
Figueroa High School     1884411.0
Ford High School         1763916.0
Griffin High School       917500.0
Hernandez High School    3022020.0
Holden High School        248087.0
Huang High School        1910635.0
Johnson High School      3094650.0
Pena High School          585858.0
Rodriguez High School    2547363.0
Shelton High School      1056600.0
Thomas High School       1043130.0
Wilson High School       1319574.0
Wright High School       1049400.0
Name: budget, dtype: float64

In [129]:
#Calculate how much each school spends on each student

per_school_capita = per_school_budget/per_school_counts
per_school_capita

school_name
Bailey High School       628.0
Cabrera High School      582.0
Figueroa High School     639.0
Ford High School         644.0
Griffin High School      625.0
Hernandez High School    652.0
Holden High School       581.0
Huang High School        655.0
Johnson High School      650.0
Pena High School         609.0
Rodriguez High School    637.0
Shelton High School      600.0
Thomas High School       638.0
Wilson High School       578.0
Wright High School       583.0
dtype: float64

In [107]:
#Calculate the average math scores per school

per_school_math = school_student_merged_df.groupby(["school_name"])["math_score"].mean()
per_school_math.head()

school_name
Bailey High School      77.048432
Cabrera High School     83.061895
Figueroa High School    76.711767
Ford High School        77.102592
Griffin High School     83.351499
Name: math_score, dtype: float64

In [108]:
#Calculate the average reading scores per school

per_school_reading = school_student_merged_df.groupby(["school_name"])["reading_score"].mean()
per_school_reading.head()

school_name
Bailey High School      81.033963
Cabrera High School     83.975780
Figueroa High School    81.158020
Ford High School        80.746258
Griffin High School     83.816757
Name: reading_score, dtype: float64

In [165]:
#Calculate the number of students per school with a math score of 70 or higher


students_passing_math = school_student_merged_df.loc[school_student_merged_df["math_score"]>= 70]
passmath_perschool = students_passing_math["school_name"].value_counts()

percentage_passmath_perschool = (passmath_perschool.sort_values()/per_school_counts.sort_values())*100
percentage_passmath_perschool

school_name
Bailey High School       66.680064
Cabrera High School      94.133477
Figueroa High School     65.988471
Ford High School         68.309602
Griffin High School      93.392371
Hernandez High School    66.752967
Holden High School       92.505855
Huang High School        65.683922
Johnson High School      66.057551
Pena High School         94.594595
Rodriguez High School    66.366592
Shelton High School      93.867121
Thomas High School       93.272171
Wilson High School       93.867718
Wright High School       93.333333
Name: count, dtype: float64

In [166]:
#Calculate the number of students per school with a reading score of 70 or higher

students_passing_reading = school_student_merged_df.loc[school_student_merged_df["reading_score"]>= 70]
passreading_perschool = students_passing_reading["school_name"].value_counts()

percentage_passreading_perschool = (passreading_perschool.sort_values()/per_school_counts.sort_values())*100
percentage_passreading_perschool

school_name
Bailey High School       81.933280
Cabrera High School      97.039828
Figueroa High School     80.739234
Ford High School         79.299014
Griffin High School      97.138965
Hernandez High School    80.862999
Holden High School       96.252927
Huang High School        81.316421
Johnson High School      81.222432
Pena High School         95.945946
Rodriguez High School    80.220055
Shelton High School      95.854628
Thomas High School       97.308869
Wilson High School       96.539641
Wright High School       96.611111
Name: count, dtype: float64

In [178]:
#Students per school who passed both math and reading

students_passing_math_and_reading = school_student_merged_df[(school_student_merged_df["reading_score"]>=70) &
                                                            (school_student_merged_df["math_score"]>=70)]

school_students_passing_math_and_reading = students_passing_math_and_reading.groupby(["school_name"]).size()

In [179]:
#Calculate the passing rates per school

#per_school_passing_math = passmath_perschool/per_school_counts*100
#per_school_passing_reading = passreading_perschool/per_school_counts*100
overall_passing_rate = school_students_passing_math_and_reading/per_school_counts*100
overall_passing_rate

school_name
Bailey High School       54.642283
Cabrera High School      91.334769
Figueroa High School     53.204476
Ford High School         54.289887
Griffin High School      90.599455
Hernandez High School    53.527508
Holden High School       89.227166
Huang High School        53.513884
Johnson High School      53.539172
Pena High School         90.540541
Rodriguez High School    52.988247
Shelton High School      89.892107
Thomas High School       90.948012
Wilson High School       90.582567
Wright High School       90.333333
dtype: float64

In [183]:
#Create a summary DataFrame that stores the calculations above as columns
,
per_school_summary = pd.DataFrame({"School Type":school_types,"Total Students":per_school_counts,
                                  "Total School Budget":per_school_budget,"Per Student Budget":per_school_capita,
                                  "Average Math Score":per_school_math,"Average Reading Score":per_school_reading,
                                  "% Passing Math":percentage_passmath_perschool,"% Passing Reading":percentage_passreading_perschool,
                                  "% Overall Passing":overall_passing_rate})
per_school_summary

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Bailey High School,District,4976,3124928.0,628.0,77.048432,81.033963,66.680064,81.933280,54.642283
Cabrera High School,Charter,1858,1081356.0,582.0,83.061895,83.975780,94.133477,97.039828,91.334769
Figueroa High School,District,2949,1884411.0,639.0,76.711767,81.158020,65.988471,80.739234,53.204476
Ford High School,District,2739,1763916.0,644.0,77.102592,80.746258,68.309602,79.299014,54.289887
Griffin High School,Charter,1468,917500.0,625.0,83.351499,83.816757,93.392371,97.138965,90.599455
Hernandez High School,District,4635,3022020.0,652.0,77.289752,80.934412,66.752967,80.862999,53.527508
Holden High School,Charter,427,248087.0,581.0,83.803279,83.814988,92.505855,96.252927,89.227166
Huang High School,District,2917,1910635.0,655.0,76.629414,81.182722,65.683922,81.316421,53.513884
Johnson High School,District,4761,3094650.0,650.0,77.072464,80.966394,66.057551,81.222432,53.539172
Pena High School,Charter,962,585858.0,609.0,83.839917,84.044699,94.594595,95.945946,90.540541
Rodriguez High School,District,3999,2547363.0,637.0,76.842711,80.744686,66.366592,80.220055,52.988247
Shelton High School,Charter,1761,1056600.0,600.0,83.359455,83.725724,93.867121,95.854628,89.892107
Thomas High School,Charter,1635,1043130.0,638.0,83.418349,83.848930,93.272171,97.308869,90.948012
Wilson High School,Charter,2283,1319574.0,578.0,83.274201,83.989488,93.867718,96.539641,90.582567
Wright High School,Charter,1800,1049400.0,583.0,83.682222,83.955000,93.333333,96.611111,90.333333