PyCity Schools Analysis:
  
Analysis of our high-level snapshot of the schools show that students not only pass, but also score higher in reading classes when compared to math classes. Additionally, the percentage of students that pass both math and reading is noticeably lower than students who pass at least one of the subjects.

A more in-depth analysis of the highest and lowest performing schools, which is sorted in reference to the their overall passing rate, reveal a discernable pattern. The top 5 highest performing schools are all charter schools with a relatively low number of students, with four out of five enrolling less than 2000. Conversely, the five lowest performing schools are all district schools that have anywhere from 2917 to 4761 students enrolled. It is apparent that the charter school's methods, which operate independently from the state's school system, in addition to its smaller class sizes set up its students for the highest probability of success. Meanwhile, students in district schools with large class sizes seem to suffer the most. 

Next, for every school in the district, we compared the average math and reading scores of the students from 9th grade to 12th grade. The grade that the students are in have an almost negligible impact on their average scores for either subject, with most variations coming in at or below one percent. 

In addition, we calculated how much each school spends on each student by dividing that schoolâ€™s budget with its total student population. Shockingly, the schools that spent the most on each student had the worst metrics across the board. Average scores, passing percentages for each subject, and especially overall passing percentages of the students were significantly worse than schools who spent the least amount of money per student. The main outlier in this data is Thomas High School, which spends some of the most money, yet still has stellar student results. This can be explained by the fact that Thomas High School is a charter school with a relatively low student population, reaffirming our theory that this combination is the recipe for student success. Clearly, these schools with large student bodies and even larger budgets are not effectively using their funds to create a thriving environment for their students.  

A deeper analysis into school sizes and types seems to reaffirm our previous theories. Schools with a small to medium student body (<1000-2000 total students) show signs of success in relation to average scores and the percentage of students who not only pass one subject but pass both. Meanwhile, students in schools with large student bodies (2000-5000 total students) suffer immensely, with their overall pass rate for both subjects and their pass rate for math being 58% and 70% respectively. Students in general seem to have better scores and higher chance of passing reading classes rather than math classes, but these areas are also somewhat lacking in these schools. Finally, charter schools boast significantly higher metrics when compared to district schools, especially their math and overall pass rates.

In [71]:
#import dependencies
import pandas as pd
from pathlib import Path

In [72]:
#Set up path to our resource files

school_path = Path("Resources/schools_complete.csv")
student_path = Path("Resources/students_complete.csv")

original_school_df = pd.read_csv(school_path)
original_student_df = pd.read_csv(student_path)

In [73]:
#Merging the Dataframes 

school_student_merged_df = pd.merge(original_student_df,original_school_df,
                           how = "left", on = ["school_name","school_name"])
school_student_merged_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

District Summary

In [74]:
#Calculate the total number of unique schools

number_of_schools = school_student_merged_df["school_name"].nunique()
number_of_schools

15

In [75]:
#Calculate the total number of students

number_of_students = school_student_merged_df["student_name"].count()
number_of_students

39170

In [76]:
#Calculate the total budget

total_budget = school_student_merged_df["budget"].unique().sum()
total_budget

24649428

In [77]:
#Calculate the students average math score

average_math = school_student_merged_df["math_score"].mean()
average_math

78.98537145774827

In [78]:
#Calculate the students average reading score

average_reading = school_student_merged_df["reading_score"].mean()
average_reading

81.87784018381414

In [79]:
#Calculate the percentage of students who passed math

passed_math = school_student_merged_df.loc[school_student_merged_df["math_score"] >= 70,]

percentage_passed_math = (passed_math["math_score"].count()/number_of_students) * 100
percentage_passed_math

74.9808526933878

In [80]:
#Calculate the percentage of students who passed reading

passed_reading = school_student_merged_df.loc[school_student_merged_df["reading_score"] >= 70,]
percentage_passed_reading = (passed_reading["reading_score"].count()/number_of_students) * 100
percentage_passed_reading

85.80546336482001

In [81]:
#Calculate overall percentage of students who passed

overall_pass_count = school_student_merged_df.loc[(school_student_merged_df["math_score"] >= 70) & (school_student_merged_df["reading_score"] >= 70)]
overall_pass_percentage = (overall_pass_count["student_name"].count()/number_of_students) * 100
overall_pass_percentage

65.17232575950983

In [82]:
#Create a high-level snapshot of the district's key metrics in a DataFrame

district_summary = pd.DataFrame({"Number of Schools":[number_of_schools],"Total Students":[number_of_students],
                                "Total Budget":[total_budget],"Average Math Score":[average_math],
                               "Average Reading Score":[average_reading], "Math Pass Percentage":[percentage_passed_math],
                               "Reading Pass Percentage":[percentage_passed_reading],
                                 "Overall Pass Percentage":[overall_pass_percentage]})

district_summary["Total Students"] = district_summary["Total Students"].map("{:,}".format)
district_summary["Total Budget"] = district_summary["Total Budget"].map("${:,.2f}".format)

district_summary

,Number of Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,Math Pass Percentage,Reading Pass Percentage,Overall Pass Percentage
0,15,"39,170","$24,649,428.00",78.985371,81.87784,74.980853,85.805463,65.172326

School Summary

In [109]:
#Find the names of the schools in the DataFrame

school_name = school_student_merged_df["school_name"].unique()
print(school_name)

['Huang High School' 'Figueroa High School' 'Shelton High School'
 'Hernandez High School' 'Griffin High School' 'Wilson High School'
 'Cabrera High School' 'Bailey High School' 'Holden High School'
 'Pena High School' 'Wright High School' 'Rodriguez High School'
 'Johnson High School' 'Ford High School' 'Thomas High School']

In [84]:
#Select all of the school types and set the index to school name for better readbility

school_types = original_school_df.set_index(["school_name"])["type"]
school_types.head()

school_name
Huang High School        District
Figueroa High School     District
Shelton High School       Charter
Hernandez High School    District
Griffin High School       Charter
Name: type, dtype: object

In [85]:
#Calculate how many students are in each school

per_school_counts = school_student_merged_df["school_name"].value_counts()
per_school_counts

school_name
Bailey High School       4976
Johnson High School      4761
Hernandez High School    4635
Rodriguez High School    3999
Figueroa High School     2949
Huang High School        2917
Ford High School         2739
Wilson High School       2283
Cabrera High School      1858
Wright High School       1800
Shelton High School      1761
Thomas High School       1635
Griffin High School      1468
Pena High School          962
Holden High School        427
Name: count, dtype: int64

In [128]:
#Calculate the total school budget per school

per_school_budget = school_student_merged_df.groupby(["school_name"])["budget"].mean()
per_school_budget

school_name
Bailey High School       3124928.0
Cabrera High School      1081356.0
Figueroa High School     1884411.0
Ford High School         1763916.0
Griffin High School       917500.0
Hernandez High School    3022020.0
Holden High School        248087.0
Huang High School        1910635.0
Johnson High School      3094650.0
Pena High School          585858.0
Rodriguez High School    2547363.0
Shelton High School      1056600.0
Thomas High School       1043130.0
Wilson High School       1319574.0
Wright High School       1049400.0
Name: budget, dtype: float64

In [129]:
#Calculate how much each school spends on each student

per_school_capita = per_school_budget/per_school_counts
per_school_capita

school_name
Bailey High School       628.0
Cabrera High School      582.0
Figueroa High School     639.0
Ford High School         644.0
Griffin High School      625.0
Hernandez High School    652.0
Holden High School       581.0
Huang High School        655.0
Johnson High School      650.0
Pena High School         609.0
Rodriguez High School    637.0
Shelton High School      600.0
Thomas High School       638.0
Wilson High School       578.0
Wright High School       583.0
dtype: float64

In [107]:
#Calculate the average math scores per school

per_school_math = school_student_merged_df.groupby(["school_name"])["math_score"].mean()
per_school_math.head()

school_name
Bailey High School      77.048432
Cabrera High School     83.061895
Figueroa High School    76.711767
Ford High School        77.102592
Griffin High School     83.351499
Name: math_score, dtype: float64

In [108]:
#Calculate the average reading scores per school

per_school_reading = school_student_merged_df.groupby(["school_name"])["reading_score"].mean()
per_school_reading.head()

school_name
Bailey High School      81.033963
Cabrera High School     83.975780
Figueroa High School    81.158020
Ford High School        80.746258
Griffin High School     83.816757
Name: reading_score, dtype: float64

In [165]:
#Calculate the number of students per school with a math score of 70 or higher


students_passing_math = school_student_merged_df.loc[school_student_merged_df["math_score"]>= 70]
passmath_perschool = students_passing_math["school_name"].value_counts()

percentage_passmath_perschool = (passmath_perschool.sort_values()/per_school_counts.sort_values())*100
percentage_passmath_perschool

school_name
Bailey High School       66.680064
Cabrera High School      94.133477
Figueroa High School     65.988471
Ford High School         68.309602
Griffin High School      93.392371
Hernandez High School    66.752967
Holden High School       92.505855
Huang High School        65.683922
Johnson High School      66.057551
Pena High School         94.594595
Rodriguez High School    66.366592
Shelton High School      93.867121
Thomas High School       93.272171
Wilson High School       93.867718
Wright High School       93.333333
Name: count, dtype: float64

In [166]:
#Calculate the number of students per school with a reading score of 70 or higher

students_passing_reading = school_student_merged_df.loc[school_student_merged_df["reading_score"]>= 70]
passreading_perschool = students_passing_reading["school_name"].value_counts()

percentage_passreading_perschool = (passreading_perschool.sort_values()/per_school_counts.sort_values())*100
percentage_passreading_perschool

school_name
Bailey High School       81.933280
Cabrera High School      97.039828
Figueroa High School     80.739234
Ford High School         79.299014
Griffin High School      97.138965
Hernandez High School    80.862999
Holden High School       96.252927
Huang High School        81.316421
Johnson High School      81.222432
Pena High School         95.945946
Rodriguez High School    80.220055
Shelton High School      95.854628
Thomas High School       97.308869
Wilson High School       96.539641
Wright High School       96.611111
Name: count, dtype: float64

In [178]:
#Students per school who passed both math and reading

students_passing_math_and_reading = school_student_merged_df[(school_student_merged_df["reading_score"]>=70) &
                                                            (school_student_merged_df["math_score"]>=70)]

school_students_passing_math_and_reading = students_passing_math_and_reading.groupby(["school_name"]).size()

In [179]:
#Calculate the passing rates per school

#per_school_passing_math = passmath_perschool/per_school_counts*100
#per_school_passing_reading = passreading_perschool/per_school_counts*100
overall_passing_rate = school_students_passing_math_and_reading/per_school_counts*100
overall_passing_rate

school_name
Bailey High School       54.642283
Cabrera High School      91.334769
Figueroa High School     53.204476
Ford High School         54.289887
Griffin High School      90.599455
Hernandez High School    53.527508
Holden High School       89.227166
Huang High School        53.513884
Johnson High School      53.539172
Pena High School         90.540541
Rodriguez High School    52.988247
Shelton High School      89.892107
Thomas High School       90.948012
Wilson High School       90.582567
Wright High School       90.333333
dtype: float64

In [183]:
#Create a summary DataFrame that stores the calculations above as columns
,
per_school_summary = pd.DataFrame({"School Type":school_types,"Total Students":per_school_counts,
                                  "Total School Budget":per_school_budget,"Per Student Budget":per_school_capita,
                                  "Average Math Score":per_school_math,"Average Reading Score":per_school_reading,
                                  "% Passing Math":percentage_passmath_perschool,"% Passing Reading":percentage_passreading_perschool,
                                  "% Overall Passing":overall_passing_rate})
per_school_summary

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Bailey High School,District,4976,3124928.0,628.0,77.048432,81.033963,66.680064,81.933280,54.642283
Cabrera High School,Charter,1858,1081356.0,582.0,83.061895,83.975780,94.133477,97.039828,91.334769
Figueroa High School,District,2949,1884411.0,639.0,76.711767,81.158020,65.988471,80.739234,53.204476
Ford High School,District,2739,1763916.0,644.0,77.102592,80.746258,68.309602,79.299014,54.289887
Griffin High School,Charter,1468,917500.0,625.0,83.351499,83.816757,93.392371,97.138965,90.599455
Hernandez High School,District,4635,3022020.0,652.0,77.289752,80.934412,66.752967,80.862999,53.527508
Holden High School,Charter,427,248087.0,581.0,83.803279,83.814988,92.505855,96.252927,89.227166
Huang High School,District,2917,1910635.0,655.0,76.629414,81.182722,65.683922,81.316421,53.513884
Johnson High School,District,4761,3094650.0,650.0,77.072464,80.966394,66.057551,81.222432,53.539172
Pena High School,Charter,962,585858.0,609.0,83.839917,84.044699,94.594595,95.945946,90.540541
Rodriguez High School,District,3999,2547363.0,637.0,76.842711,80.744686,66.366592,80.220055,52.988247
Shelton High School,Charter,1761,1056600.0,600.0,83.359455,83.725724,93.867121,95.854628,89.892107
Thomas High School,Charter,1635,1043130.0,638.0,83.418349,83.848930,93.272171,97.308869,90.948012
Wilson High School,Charter,2283,1319574.0,578.0,83.274201,83.989488,93.867718,96.539641,90.582567
Wright High School,Charter,1800,1049400.0,583.0,83.682222,83.955000,93.333333,96.611111,90.333333

Top Performing Schools (By % Overall Passing)

In [188]:
#Sort schools by overall pass percentage in descending order and display the top 5 rows

top_schools = per_school_summary.sort_values("% Overall Passing",ascending = False)
top_schools.head(5)

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Cabrera High School,Charter,1858,1081356.0,582.0,83.061895,83.975780,94.133477,97.039828,91.334769
Thomas High School,Charter,1635,1043130.0,638.0,83.418349,83.848930,93.272171,97.308869,90.948012
Griffin High School,Charter,1468,917500.0,625.0,83.351499,83.816757,93.392371,97.138965,90.599455
Wilson High School,Charter,2283,1319574.0,578.0,83.274201,83.989488,93.867718,96.539641,90.582567
Pena High School,Charter,962,585858.0,609.0,83.839917,84.044699,94.594595,95.945946,90.540541

Bottom Performing Schools (By % Overall Passing)

In [190]:
#Sort schools by lowers overall pass percentage and display the top 5 rows

bottom_schools = per_school_summary.sort_values("% Overall Passing")
bottom_schools.head(5)

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Rodriguez High School,District,3999,2547363.0,637.0,76.842711,80.744686,66.366592,80.220055,52.988247
Figueroa High School,District,2949,1884411.0,639.0,76.711767,81.158020,65.988471,80.739234,53.204476
Huang High School,District,2917,1910635.0,655.0,76.629414,81.182722,65.683922,81.316421,53.513884
Hernandez High School,District,4635,3022020.0,652.0,77.289752,80.934412,66.752967,80.862999,53.527508
Johnson High School,District,4761,3094650.0,650.0,77.072464,80.966394,66.057551,81.222432,53.539172

Math Score by Grade

In [200]:
#Seperate the data by grade

ninth_graders = school_student_merged_df[(school_student_merged_df["grade"] == "9th")]
tenth_graders = school_student_merged_df[(school_student_merged_df["grade"] == "10th")]
eleventh_graders = school_student_merged_df[(school_student_merged_df["grade"] == "11th")]
twelfth_graders = school_student_merged_df[(school_student_merged_df["grade"] == "12th")]

# Group by `school_name` and take the mean of the `math_score` column for each.

ninth_grade_math_scores = ninth_graders.groupby(["school_name"])["math_score"].mean()
tenth_grader_math_scores = tenth_graders.groupby(["school_name"])["math_score"].mean()
eleventh_grader_math_scores = eleventh_graders.groupby(["school_name"])["math_score"].mean()
twelfth_grader_math_scores = twelfth_graders.groupby(["school_name"])["math_score"].mean()

#Combine each of the scores above into single DataFrame called 'math_scores_by_grade'

math_scores_by_grade = pd.DataFrame({"9th":ninth_grade_math_scores,"10th":tenth_grader_math_scores,
                                    "11th":eleventh_grader_math_scores, "12th":twelfth_grader_math_scores})
math_scores_by_grade.index.name = None

math_scores_by_grade

                             9th       10th       11th       12th
Bailey High School     77.083676  76.996772  77.515588  76.492218
Cabrera High School    83.094697  83.154506  82.765560  83.277487
Figueroa High School   76.403037  76.539974  76.884344  77.151369
Ford High School       77.361345  77.672316  76.918058  76.179963
Griffin High School    82.044010  84.229064  83.842105  83.356164
Hernandez High School  77.438495  77.337408  77.136029  77.186567
Holden High School     83.787402  83.429825  85.000000  82.855422
Huang High School      77.027251  75.908735  76.446602  77.225641
Johnson High School    77.187857  76.691117  77.491653  76.863248
Pena High School       83.625455  83.372000  84.328125  84.121547
Rodriguez High School  76.859966  76.612500  76.395626  77.690748
Shelton High School    83.420755  82.917411  83.383495  83.778976
Thomas High School     83.590022  83.087886  83.498795  83.497041
Wilson High School     83.085578  83.724422  83.195326  83.035794
Wright High School     83.264706  84.010288  83.836782  83.644986

Reading Score by Grade

In [202]:
#We have our students seperated by grade thanks to the previous cells. Therefore we do not need to seperate them again


#We can instead skip straight to:  Group by `school_name` and take the mean of the the `reading_score` column for each.
ninth_grade_reading_scores = ninth_graders.groupby(["school_name"])["reading_score"].mean()
tenth_grader_reading_scores = tenth_graders.groupby(["school_name"])["reading_score"].mean()
eleventh_grader_reading_scores = eleventh_graders.groupby(["school_name"])["reading_score"].mean()
twelfth_grader_reading_scores = twelfth_graders.groupby(["school_name"])["reading_score"].mean()

# Combine each of the scores above into single DataFrame called `reading_scores_by_grade`
reading_scores_by_grade = pd.DataFrame({"9th":ninth_grade_reading_scores,"10th":tenth_grader_reading_scores,
                                    "11th":eleventh_grader_reading_scores, "12th":twelfth_grader_reading_scores})

# Minor data wrangling
reading_scores_by_grade = reading_scores_by_grade[["9th", "10th", "11th", "12th"]]
reading_scores_by_grade.index.name = None

reading_scores_by_grade

                             9th       10th       11th       12th
Bailey High School     81.303155  80.907183  80.945643  80.912451
Cabrera High School    83.676136  84.253219  83.788382  84.287958
Figueroa High School   81.198598  81.408912  80.640339  81.384863
Ford High School       80.632653  81.262712  80.403642  80.662338
Griffin High School    83.369193  83.706897  84.288089  84.013699
Hernandez High School  80.866860  80.660147  81.396140  80.857143
Holden High School     83.677165  83.324561  83.815534  84.698795
Huang High School      81.290284  81.512386  81.417476  80.305983
Johnson High School    81.260714  80.773431  80.616027  81.227564
Pena High School       83.807273  83.612000  84.335938  84.591160
Rodriguez High School  80.993127  80.629808  80.864811  80.376426
Shelton High School    84.122642  83.441964  84.373786  82.781671
Thomas High School     83.728850  84.254157  83.585542  83.831361
Wilson High School     83.939778  84.021452  83.764608  84.317673
Wright High School     83.833333  83.812757  84.156322  84.073171

Scores by School Spending

In [203]:
#Lets establish a bin and labels we can use during our pd.cut

spending_bins = [0, 585, 630, 645, 680]
labels = ["<$585", "$585-630", "$630-645", "$645-680"]

In [204]:
#Creating a copy of our per_school_summary Data Frame

school_spending_df = per_school_summary.copy()

In [207]:
school_spending_df["Spending Ranges (Per Student)"] = pd.cut(per_school_summary["Per Student Budget"],spending_bins, 
                                                      labels = labels, include_lowest = True)
school_spending_df

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing,Spending Ranges (Per Student)
school_name,,,,,,,,,,
Bailey High School,District,4976,3124928.0,628.0,77.048432,81.033963,66.680064,81.933280,54.642283,$585-630
Cabrera High School,Charter,1858,1081356.0,582.0,83.061895,83.975780,94.133477,97.039828,91.334769,<$585
Figueroa High School,District,2949,1884411.0,639.0,76.711767,81.158020,65.988471,80.739234,53.204476,$630-645
Ford High School,District,2739,1763916.0,644.0,77.102592,80.746258,68.309602,79.299014,54.289887,$630-645
Griffin High School,Charter,1468,917500.0,625.0,83.351499,83.816757,93.392371,97.138965,90.599455,$585-630
Hernandez High School,District,4635,3022020.0,652.0,77.289752,80.934412,66.752967,80.862999,53.527508,$645-680
Holden High School,Charter,427,248087.0,581.0,83.803279,83.814988,92.505855,96.252927,89.227166,<$585
Huang High School,District,2917,1910635.0,655.0,76.629414,81.182722,65.683922,81.316421,53.513884,$645-680
Johnson High School,District,4761,3094650.0,650.0,77.072464,80.966394,66.057551,81.222432,53.539172,$645-680
Pena High School,Charter,962,585858.0,609.0,83.839917,84.044699,94.594595,95.945946,90.540541,$585-630
Rodriguez High School,District,3999,2547363.0,637.0,76.842711,80.744686,66.366592,80.220055,52.988247,$630-645
Shelton High School,Charter,1761,1056600.0,600.0,83.359455,83.725724,93.867121,95.854628,89.892107,$585-630
Thomas High School,Charter,1635,1043130.0,638.0,83.418349,83.848930,93.272171,97.308869,90.948012,$630-645
Wilson High School,Charter,2283,1319574.0,578.0,83.274201,83.989488,93.867718,96.539641,90.582567,<$585
Wright High School,Charter,1800,1049400.0,583.0,83.682222,83.955000,93.333333,96.611111,90.333333,<$585

In [208]:
#Find the averages for the desired columns

spending_math_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"])["Average Math Score"].mean()
spending_reading_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"])["Average Reading Score"].mean()
spending_passing_math = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Passing Math"].mean()
spending_passing_reading = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Passing Reading"].mean()
overall_passing_spending = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Overall Passing"].mean()

In [222]:
#Putting the above calculated averages into a single spending summary DataFrame

spending_summary = pd.DataFrame({"Average math score":spending_math_scores, "Average reading score":spending_reading_scores,
                                "% passing math":spending_passing_math, "% passing reading":spending_passing_reading,
                                "% overall passing":overall_passing_spending})

spending_summary

,Average math score,Average reading score,% passing math,% passing reading,% overall passing
Spending Ranges (Per Student),,,,,
<$585,83.455399,83.933814,93.460096,96.610877,90.369459
$585-630,81.899826,83.155286,87.133538,92.718205,81.418596
$630-645,78.518855,81.624473,73.484209,84.391793,62.857656
$645-680,76.997210,81.027843,66.164813,81.133951,53.526855

Scores by School Size

In [223]:
#Lets once again establish some bins and labels

size_bins = [0, 1000, 2000, 5000]

labels = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

In [224]:
#Once again use pd.cut to categorize the school sizes based on the bins

per_school_summary["School Size"] = pd.cut(per_school_summary["Total Students"],size_bins,labels=labels,
                                           include_lowest = True)
per_school_summary

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing,School Size
school_name,,,,,,,,,,
Bailey High School,District,4976,3124928.0,628.0,77.048432,81.033963,66.680064,81.933280,54.642283,Large (2000-5000)
Cabrera High School,Charter,1858,1081356.0,582.0,83.061895,83.975780,94.133477,97.039828,91.334769,Medium (1000-2000)
Figueroa High School,District,2949,1884411.0,639.0,76.711767,81.158020,65.988471,80.739234,53.204476,Large (2000-5000)
Ford High School,District,2739,1763916.0,644.0,77.102592,80.746258,68.309602,79.299014,54.289887,Large (2000-5000)
Griffin High School,Charter,1468,917500.0,625.0,83.351499,83.816757,93.392371,97.138965,90.599455,Medium (1000-2000)
Hernandez High School,District,4635,3022020.0,652.0,77.289752,80.934412,66.752967,80.862999,53.527508,Large (2000-5000)
Holden High School,Charter,427,248087.0,581.0,83.803279,83.814988,92.505855,96.252927,89.227166,Small (<1000)
Huang High School,District,2917,1910635.0,655.0,76.629414,81.182722,65.683922,81.316421,53.513884,Large (2000-5000)
Johnson High School,District,4761,3094650.0,650.0,77.072464,80.966394,66.057551,81.222432,53.539172,Large (2000-5000)
Pena High School,Charter,962,585858.0,609.0,83.839917,84.044699,94.594595,95.945946,90.540541,Small (<1000)
Rodriguez High School,District,3999,2547363.0,637.0,76.842711,80.744686,66.366592,80.220055,52.988247,Large (2000-5000)
Shelton High School,Charter,1761,1056600.0,600.0,83.359455,83.725724,93.867121,95.854628,89.892107,Medium (1000-2000)
Thomas High School,Charter,1635,1043130.0,638.0,83.418349,83.848930,93.272171,97.308869,90.948012,Medium (1000-2000)
Wilson High School,Charter,2283,1319574.0,578.0,83.274201,83.989488,93.867718,96.539641,90.582567,Large (2000-5000)
Wright High School,Charter,1800,1049400.0,583.0,83.682222,83.955000,93.333333,96.611111,90.333333,Medium (1000-2000)

In [225]:
#Calculate the averages for the columns

size_math_scores = per_school_summary.groupby(["School Size"])["Average Math Score"].mean()
size_reading_scores = per_school_summary.groupby(["School Size"])["Average Reading Score"].mean()
size_passing_math = per_school_summary.groupby(["School Size"])["% Passing Math"].mean()
size_passing_reading = per_school_summary.groupby(["School Size"])["% Passing Reading"].mean()
size_overall_passing = per_school_summary.groupby(["School Size"])["% Overall Passing"].mean()

In [226]:
#Take the calculated values above and place them all into a single DataFrame

size_summary = pd.DataFrame({"Average Math Score":size_math_scores,"Average Reading Score":size_reading_scores,
                            "% Passing Math":size_passing_math,"% Passing Reading":size_passing_reading,
                            "% Overall Passing":size_overall_passing})
size_summary

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Size,,,,,
Small (<1000),83.821598,83.929843,93.550225,96.099437,89.883853
Medium (1000-2000),83.374684,83.864438,93.599695,96.790680,90.621535
Large (2000-5000),77.746417,81.344493,69.963361,82.766634,58.286003

Scores by School Type

In [227]:
#Group the per_school_summary DataFrame by "School Type" and average the results 

average_math_score_by_type = per_school_summary.groupby(["School Type"])["Average Math Score"].mean()
average_reading_score_by_type = per_school_summary.groupby(["School Type"])["Average Reading Score"].mean()
average_percent_passing_math_by_type = per_school_summary.groupby(["School Type"])["% Passing Math"].mean()
average_percent_passing_reading_by_type = per_school_summary.groupby(["School Type"])["% Passing Reading"].mean()
average_percent_overall_passing_by_type = per_school_summary.groupby(["School Type"])["% Overall Passing"].mean()

In [229]:
#Assemble the new data by type into DataFame called type_summary

type_summary = pd.DataFrame({"Average Math Score":average_math_score_by_type,
                             "Average Reading Score":average_reading_score_by_type,
                            "% Passing Math":average_percent_passing_math_by_type,
                            "% Passing Reading":average_percent_passing_reading_by_type,
                            "% Overall Passing":average_percent_overall_passing_by_type})
type_summary

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Type,,,,,
Charter,83.473852,83.896421,93.620830,96.586489,90.432244
District,76.956733,80.966636,66.548453,80.799062,53.672208